.blogfont
{
font-family: 'Tajawal', sans-serif;
font-size : 1.5em;
}
.centerstage
{
  margin-left:auto;
  margin-right:auto;
}
.disp_date
{
  font-size : 0.65em;
}
.commentsize
{
  font-size: 1.2em;
}
